@using Capstone.Web.Models;
@model List<Park>
@{
    ViewBag.Title = "SurveyResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron survey-results-hero">
    <h1 class="text-center">Thanks For Voting!</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>
                <ol>
                    @foreach (var s in Model)
                    {
                        <li>@s.ParkCodeSurvey - @s.Total Votes</li>
                    }
                </ol>
            </h3>
        </div>
    </div>
</div>
